NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAdM7RjA4JhYmAfytQWLXBeiZ7K4N9ctWA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=thread-theory-home-20260405.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=thread-theory-home-20260405
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=thread-theory-home-20260405.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=268029612759
NEXT_PUBLIC_FIREBASE_APP_ID=1:268029612759:web:77168809335d28a64f5692
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-SYZ7K4C5WD

FIREBASE_PROJECT_ID=thread-theory-home-20260405
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

ADMIN_EMAILS=owner@example.com
